.home_container1{
    display: block;
    height: 100vh;
    background-image: url("../assets/home1.png");
    background-size: cover;
}

.home_subcontainer1{
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
}

.home_title1{
    margin: auto;
    padding: 128px 0 108px 0;
    font-size: 48px;
    letter-spacing: 1.25px;
}

.home_description1{
    font-size: 24px;
}

.home_author1{
    padding: 12px 0 12px 0;
    font-size: 24px;
}

.home_buttonContainer1{
    padding-top: 108px;
}


.home_container2{
    height: 100vh;
    background-image: url("../assets/home2.jpg");
    background-size: cover;
}

.home_subcontainer2{
    display: block;
    width: 320px;
}

.home_innercontainer2{
    padding: 384px 0 0 64px;
}

.home_postTitle2{
    margin-bottom: 16px;
    font-size: 20px;
}

.home_title2{
    font-size: 48px;
}

.home_buttonContainer2{
    margin-top: 32px;
}


.home_container3{
    height: 100vh;
    background-image: url("../assets/home3.jpg");
    background-size: cover;
}

.home_subcontainer3{
    display: block;
    width: 40%;
}

.home_innercontainer3{
    padding: 384px 0 0 64px;
}

.home_postTitle3{
    margin-bottom: 16px;
    font-size: 20px;
}

.home_title3{
    font-size: 48px;
}

.home_buttonContainer3{
    margin-top: 32px;
}
