.header {
  display: block;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top ease-out 250ms;
  z-index: 1;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 36px;
}

.header_subcontainer {
  display: block;
}

.header_logo {
  height: 32px;
}

.header_order {
  display: flex;
  justify-content: space-between;
  width: 384px;
  list-style: none;
}
.header_list {
  font-size: 20px;
  padding: 0;
}

.header_link {
  display: inline-block;
  position: relative;
}
.header_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 150ms ease-out;
}
.header_link:hover::after {
  width: 100%;
}

.header_hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header_order {
    display: none;
  }

  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 24px;
  }

  .header_list {
    display: block;
  }

  .header_hamburger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
  }
  .header_menu {
    width: 20px;
    height: 2px;
    background: white;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
  }

  .header_menu::before,
  .header_menu::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: white;
    border-radius: 5px;
    transition: all 0.5ms ease-in-out;
  }

  .header_menu::before {
    transform: translateY(-7px);
  }
  .header_menu::after {
    transform: translateY(7px);
  }
}
