.header{
    position: fixed;
    margin: auto;
    width: 100%;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px;
}

.header_subcontainer{
    display: block;
}

.header_logo{
    height: 32px;
}

.header_order{
    display: flex;
    justify-content: space-between;
    width: 384px;
    list-style: none;
}
.header_list{
    font-size: 20px;
    padding: 0;
}

.header_link{
    display: inline-block;
    position: relative;
}
.header_link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 150ms ease-out;
}
.header_link:hover::after{
    width: 100%;
}