html {
  color: white;
  background-color: black;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 18px 20px;
  color: white;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid white;
  transition: 150ms ease-out;
}
button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

::selection {
  color: black;
  background: white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.reveal {
  position: relative;
  transform: translateY(30px);
  opacity: 0;
  transition: 1s ease-out;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin: auto;
  border: 4px solid white;
  border-top: 4px solid black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
