.error {
  height: 100vh;
  text-align: center;
}

.error_container {
  display: block;
  height: 100vh;
  margin: auto;
}

.error_subcontainer {
  padding: 128px 0;
}

.error_title {
  font-size: 128px;
}

.error_subtitle {
  font-size: 30px;
}

.error_buttonContainer {
  font-weight: bold;
}

.error_button {
  padding: 12px 18px 12px 18px;
  font-size: 18px;
  border: 2px solid white;
  transition: 150ms ease-out;
}
.error_button:hover {
  color: black;
  background-color: white;
}
